
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<dl>
    <dt>Name: Haris Gusinac</dt>
    <dt>Age: 28</dt>
    <dt>City: Jönköping</dt>
    
</dl>
    <h1>Last Jobbs</h1>
<ul>
    <li>Elmia</li>
    <li>Atteviks</li>
    <li>Vårsol</li>
</ul>
<img src="~/img/hg.jpg" width="300"/>