
@{
    ViewData["Title"] = "Index";
}

<h1>Start Page</h1>

<p>This is a website about me ! </p>


<h2 style="color:red">Let´s se if u have a Fever</h2>
@Html.ActionLink("FeverCheck", "FeverCheck", "Doctor")
<br />
<br />
<br />
<br />
<h2 style="color:blue">Lets play a Numbers Game </h2>
@Html.ActionLink("NumbersGame", "NumbersGame", "Game")
<br />
<br />
<br />
<br />
