
@{
    ViewData["Title"] = "Projects";
}
<div class="projects">
<h1>Projects</h1>

<h4>Here u can find some of my Projects that i have made</h4>
<hr />



    <dh> <a href="https://github.com/hgusinac/SokobanHG" target="_blank">SokoBan</a></dh>
    <p>Sokooban is a game made in JavaScript, Html, Css</p>
    <hr />

    <dh> <a href="https://github.com/hgusinac/VendingMachineConsole" target="_blank">VendingMachine</a></dh>
    <p>VendingMachine is a mashine there u can buy difrent products try it ! </p>
    <hr />

    <dh> <a href="https://github.com/hgusinac/Hangman" target="_blank">HangMan</a></dh>
    <p>HangMan is a fun game that u need to find the right words! </p>
    <hr />

    <dh> <a href="https://github.com/hgusinac/Calculator.hg" target="_blank">Calculator</a></dh>
    <p>Calculator it a simpel Calculator! </p>
    <hr />



<h4>If u want to follow me on Github</h4>
<a href="https://github.com/hgusinac" target="_blank">Follow</a>
<br />
</div>
